.recipeAuthorBlock {
    display: flex;
    justify-content: space-evenly;
}
    
.imageUpdates {
       object-fit: contain;
       width: 50%;
}

.imageAuthorUpdates {
    object-fit: contain;
    width: 25%;
}

